<html>
    <head>
	    <title >Home.ie</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row navbar">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 nav_icon">
                    <a href="/stats"> <script class="glyphicon glyphicon-object-align-bottom" style="color: white; font-size:50px"></script></a>
                </div>

                <a href="/addChore"><h1 class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="title">Home.ie</h1></a>

                <div class="col-sm-4 nav_icon">
                    {{#if users}}
                    <a  href="/"><img id="fbProfilePic" src="{{users.0.url}}"></a>
                    {{else}}
                    <a id="defaultProfile" href="/"><script class="glyphicon glyphicon-user" ></script></a>
                    {{/if}}
                </div>

            </div>

            <div class="row nav_bar">
                    <div class="nav_chore col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <a id="choresBtn" href="/homepage">
                            <div class="nav">
                                Chores
                            </div>
                        </a>
                    </div>

                    <div class="nav_expense col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <a id="expensesBtn" href="/addexpense">
                            <div class="nav">
                                Expenses
                            </div>
                        </a>
                    </div>
            </div>

                <div class="chore_rows row ">
                    {{#each chores}}
                    <div class="chore col-xs-12 col-sm-12 col-md-12 col-lg-12 card">
                        <div class="chore_content">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <h3>{{name}}</h3>
                            <p>{{description}}</p>
                        </div>
                            <div class="done col-xs-4 col-sm-4 col-md43 col-lg-4">
                                <button class="btn btn-success doneBtn" type="submit">Done</button>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center">
                                <span class="glyphicon glyphicon-chevron-down" style="font-size:15px"></span>
                            </div>
                        </div>
                        <canvas width="400" height="400" id="{{imageURL}}"> </canvas>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
                <div class="add col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    {{#if chores}}
                    <form action="/chore" >
                        <button id="submitBtn" class="btn btn-success btn-block" type="submit"> Create New Chore </button>
                    {{/if}}
                    </form>
                </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
