<html>
    <head>
	      <title>Home.ie</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h1>Welcome to Home.ie</h1>
        <div class="chores">
            <div class="container">
                <div class="row nav_bar">
                    <div class="col-sm-6">
                        <div class="nav">
                                <a id="choresBtn" href="/">Chores</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="nav">
                            <a id="expensesBtn" href="/expense">Expenses</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each chores}}
                    <div class="chore col-md-6">
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                        <button class="green" type="button">{{priority}}</button>
                        <img src="{{imageURL}}"/>
                    </div>
                    <br>
                    {{/each}}

                    {{#each expenses}}
                    <div class="chore col-md-6">
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                        <button class="green" type="button">{{inventory}}</button>
                        <img src="{{imageURL}}">
                    </div>
                    {{/each}}

                    <div class="add col-md-4">
                        <a href="/chore">+add</button>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/homepage.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
