<html>
    <head>
	      <title>Home.ie</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h1>Home.ie</h1>

        <div class="chores">
            <div class="container">
                <div class="row nav_bar">
                    <div class="nav_chore col-sm-6">
                        <div class="nav">
                            <a id="choresBtn" href="/">Chores</a>
                        </div>
                    </div>

                    <div class="nav_expense col-sm-6">
                        <div class="nav">
                            <a id="expensesBtn" href="/expense">Expenses</a>
                        </div>
                    </div>
                </div>
                <div class="chore_rows row">
                    {{#each chores}}
                    <div class="chore col-md-6">

                        <div class="chore_content">

                        <div class="row">
                            <div class="col-sm-9">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>

                            </div>
                            <div class="done col-sm-3">
                                {{#ifequal inventrory 1}}
                                <input id="submitBtn" class="btn btn-success" value="Done" type="submit" />
                                {{/ifequal}}
                                {{#ifequal inventory 2}}
                                <input id="submitBtn" class="btn btn-warning" value="Done" type="submit" />
                                {{/ifequal}}
                                {{#if 'inventory==3'}}
                                <input id="submitBtn" class="btn btn-danger" value="Done" type="submit" />
                            {{/if}}
                            </div>
                            <button type="button" class="expand">+</button>
                        </div>
                        <img src="{{imageURL}}">
                        </div>
                    </div>
                    <br>
                    {{/each}}
                </div>
                <div class="expense_rows row">
                    {{#each expenses}}
                    <div class="expense col-md-6">
                        <div class="expense_content">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3>{{name}}</h3>
                                    <p>{{description}}</p>

                                </div>
                                <div class="done col-sm-3">
                                    <script id="text-template" type="text/x-handlebars-template">
                                        {{#ifequal inventrory 1}}
                                        <button class="green" type="button">Done>{{inventory}}</button>
                                        {{/ifequal}}
                                    </script>
                                    {{#ifequal inventory 2}}
                                    <button class="yellow" type="button">Done>{{inventory}}</button>
                                    {{/ifequal}}
                                    {{#if 'inventory==3'}}
                                    <button class="red" type="button">Done{{inventory}}</button>
                                    {{/if}}
                                </div>
                                <button type="button" class="expand">+</button>
                            </div>
                            <img src="{{imageURL}}">
                        </div>
                    </div>
                    <br>
                    {{/each}}
                    <div class="add col-md-4">
                        <form action="/chore" style="text-align: center">
                            <input id="submitBtn" class="btn btn-success btn-block" value="Create New Chore" type="submit" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
        <script src="/js/homepage.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/index.js"></script>

    </body>
</html>
